In [21]:
import pandas as pd

import os
import time

In [22]:
minsize = 5
threshold = 0.3
rename = 'blind'
id = ''

In [23]:
df = pd.read_csv('HumanEval_Line_Count.csv')
df.head()

   id  prompt  canonical  total  without_comments  threshold
0   0      12          9     21                10          4
1   1      12         18     30                17          9
2   2      12          2     14                 3          1
3   3      13          9     22                 9          4
4   4      13          3     16                 5          1

In [24]:
for index, row in df.iterrows():
    print('Starting job for id ' + str(row['id']))
    id = row['id']
    minsize = max(5, row['threshold'])
    if os.path.exists("./Output/" + str(id)):    
        os.system("rm -r ./Output/" + str(id))
    os.mkdir('./Output/' + str(id))

    for clone_type in ['Type-2', 'Type-2', 'Type-3']:
        with open('./placeholder-report.cfg') as f:
            data = f.read() 

        if clone_type == 'Type-3':
            data = data.replace('<threshold>', str(0.3))
        else:
            data = data.replace('<threshold>', str(0.0))
        data = data.replace('<minsize>', str(minsize))
        if clone_type != 'Type-1':
            data = data.replace('<rename>', 'blind')
        else:
            data = data.replace('<rename>', 'none')
        data = data.replace('<id>', str(id))
        with open('./config/test-report.cfg', 'w') as f:
            f.write(data)



        print('Running NiCad')
        os.system("sh nicad6cross functions py ./systems/Original_Files/ ./systems/Files/ test-report")

        
        if clone_type == 'Type-3':
            if os.path.exists("./systems/Original_Files_functions-blind-crossclones/"):
                os.system("mv ./systems/Original_Files_functions-blind-crossclones/Original_Files_functions-blind-crossclones-0.30-classes-withsource.html ./Output/" + str(id) + f"/{clone_type}.html")
        elif clone_type == 'Type-1':
            if os.path.exists("./systems/Original_Files_functions-crossclones/"):
                os.system("mv ./systems/Original_Files_functions-crossclones/Original_Files_functions-crossclones-0.00-classes-withsource.html ./Output/" + str(id) + f"/{clone_type}.html")

        elif clone_type == 'Type-2':
            if os.path.exists("./systems/Original_Files_functions-blind-crossclones/"):
                os.system("mv ./systems/Original_Files_functions-blind-crossclones/Original_Files_functions-blind-crossclones-0.00-classes-withsource.html ./Output/" + str(id) + f"/{clone_type}.html")

        os.system("echo 'y' |sh cleanall")
        print('Finished job for id ' + str(id))
        print('-----------------------------------')
    break

Starting job for id 0